body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: cornsilk;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button-menu{
    border: none;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    width: 130px;
    color: #fdfdfd;
    border-radius: 10px;
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322629, 0px 5px 3px #999;
}
.button-menu:active{
    box-shadow: none;
    margin-bottom: 2px;
}
.button-menu.sala{
    background-color: crimson;
}
.button-menu.cozinha{
    background-color: darkorange;    
}
.button-menu.suite{
    background-color: darkviolet;
}
.button-menu.banheiro{
    background-color: darkred;
}
.controle {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.controle label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100px;
    background-color: cornflowerblue;
    border-radius: 20px;
    color: #fdfdfd;
    margin: 5px;
}
#chuveiroTemperatura{
    display: none;
}
input[type="number"] {
    width: 50%;
}
#chuveiro:checked ~ #chuveiroTemperatura{
    display: block;
}
.controle.is--active{
    display: flex;
}
input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.on-off-container{
    font-size: .5em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.on-off-switch {
    transition: .3s ease-in-out;
    margin: 0 5px;
    background-color: red;
    display: block;
    width: 70px;
    height: 20px;
    border: 1px solid #322629;
    border-radius: 11px;
    position: relative;
}
.on-off-switch:before{
    transition: .2s ease-in-out;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #322629;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 15px;
    top: 50%;
    left: 5px;
}
.send{
    margin: 5px;
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: cornsilk;
    color: #000;
    border: 1px solid #000;
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322629, 0px 5px 3px #999;
}
.send:active{
    box-shadow: none;
    margin-bottom: 2px;
}
label.is--active .on-off-switch:before {
    left: 50px;
}
label.is--active .on-off-switch{
    background: greenyellow;
}
.estado-casa {
    display: flex;
    align-items: center;
    justify-content: center;
}
.estado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 45px;
    text-align: center;
    background-color: limegreen;
    border-radius: 10px;
    color: #fdfdfd;
    margin: 5px;
    box-shadow: inset 0px 1px 0px #9e8d84, 1px 2px 0px 0px #322629, 0px 5px 3px #999;
}
@media screen and (max-width: 768px){
    .estado{
        font-size: 12px;
        width: 45%;
    }
    .controle label{
        width: 45%;
    }
}
p{
    margin: 0;
    padding: 0;
}